
.iframe {
  border: none;
  display: block;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .iframe {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .iframe {
    width: 1440px;
    padding-top: 120px;
    background-color: @basic_grey;
  }
}
