.program {
  padding: 20px;
  display: grid;
  gap: 20px;
}

// программа СЛИМ********************
.program__slim-wrapper {
  background-color: @basic_grey;
  width: 280px;
  position: relative;
}

.program__slim-wrapper::before {
  background-color: @basic_green;
  border-radius: 50%;
  position: absolute;
  height: 50px;
  width: 50px;
  content: "";
  display: block;
  top: 22px;
  left: 24px;
}

.program__slim-wrapper::after {
  background-image: url("../../img/svg/slim-cat-mobil.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 35px;
  height: 50px;
  display: block;
  top: 22px;
  left: 29px;
}

.program__slim-title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 79px 0 91px;
  font-weight: 400;
}

.program__slim-discription {
  color: @special_dark-grey;
  font-size: 14px;
  line-height: 18px;
  padding: 29px 33px 0 20px;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.program__slim-button-wrapper {
  padding: 38px 15px 22px 19px;
}

.program-silm {
  position: relative;
}

.program-silm::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: @special_grey;
  width: 240px;
  bottom: 60px;
}

.catalog-slim-text {
  padding-right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}


//  программа ПРО*************************
.program__pro-wrapper {
  background-color: @basic_grey;
  width: 280px;
  position: relative;
}

.program__pro-wrapper::before {
  background-color: @basic_green;
  border-radius: 50%;
  position: absolute;
  height: 50px;
  width: 50px;
  content: "";
  display: block;
  top: 22px;
  left: 24px;
}

.program__pro-wrapper::after {
  background-image: url("../../img/svg/pro-cat-mobil.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  width: 68px;
  height: 28px;
  display: block;
  top: 35px;
  left: 15px;
}

.program__pro-title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 79px 0 91px;
  font-weight: 400;
}

.program__pro-discription {
  color: @special_dark-grey;
  font-size: 14px;
  line-height: 18px;
  padding: 29px 33px 0 20px;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.program__pro-button-wrapper {
  padding: 38px 15px 22px 19px;
}

.program-pro {
  position: relative;
}

.program-pro::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: @special_grey;
  width: 240px;
  bottom: 60px;
}

.catalog-pro-text {
  padding-right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
