.work {
  background-color: @basic-white;
}

.work__wrapper {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;
  text-align: left;
  align-items: flex-start;
}

.work__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.work__text {
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
